<html>
<head>
	<title>Login</title>
	<script type="text/javascript" src="{{url_for('static', filename='content.js')}}"></script>
	<style>
		body {
    	background-image: url("../static/image.png");
    	}
    	#login{
    		color: white;
    	}
    	.login {
    		margin-top: 10%;
    		font-size: 25px;
    	}

    	#title {
		    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		    color: #e50914;
		    font-weight: bold;
		    font-size: 40px;
		    margin-top: 30px;
    	}
</style>
</head>
<body>
	<center>
		<h1 id="title"> Movie Recommendation System</h1>
		<form class="login" action = "{{ url_for('home')}}">
			<div id="login">
				Username: <input type="text" name="username" id="username" required="required" style="height: 5%;width: 30%; border-radius: 5px;" /> <br/> <br/>
				Password: <input type="password" name="password" id="password" required="required" style="height: 5%;width: 30%; border-radius: 5px;"/> <br/> <br/>
				<input class="button" type="button" value="Login" style="height: 5%;width: 10%; border-radius: 5px;" onclick="checkCredentials()" />
			</div>
		</form>
	</center>
	<script>
      function checkCredentials(){
       if(document.getElementById('username').value == 'kishan' && document.getElementById('password').value == 'kishan123'){
        alert('Successfully logged in!'); 
          location.href = "{{ url_for('home')}}";
         } else {
         alert('Invalid credentials!');
          return false;
        }
       }
      </script>
</body>